<% provide(:title, "Профиль") %>
<div class="show">
  <div class="avatar">
    <%= gravatar_for @user %>
  </div>
  Имя: <%= @user.name %> <br>
  Логин: <%= @user.username %> <br>
  Почта: <%= @user.email %> <br>
</div>