<h2>Hello, world!</h2>
<p>The time is now: <%= Time.now %> </p>

<% if logged_in? %>
  <li><%= link_to "Users", '#' %></li>
  Залогинен
  <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
  не залогинен ЕХ
  <li><%= link_to "Log in", login_path %></li>
<% end %>
