doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,400", rel="stylesheet")
    link(rel="stylesheet", href="sass/master.css")

  body
    div#container
      div#user
        div User: #{user}
        div Views count: #{count}

      section
        span#timeStart Start
        span#reset Reset
        span#start
      
    script(src="master.js")
