doctype html
html
  body

    ul
      li
        a(href="/static.html") static
      li
        a(href="/views") views count

    div User: #{user}
    div Views count: #{count}

  section
    span#timeStart Start
    span#reset Reset
    span#start

    script(src="master.js")
